@*@inherits System.Web.Mvc.WebViewPage*@

@model app_layers.Models.UserInformation

<body>
    <div> MyNew Page
    </div>
    <div>FirstName: @Model.FirstName </div>
    <div>LastName: <span style="background:red"> @Model.LastName</span> </div>
</body>

